<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159943746029-ocm1te0dilsc8b8l8kbjet863r8n3gad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159943746029-ocm1te0dilsc8b8l8kbjet863r8n3gad</string>
	<key>API_KEY</key>
	<string>AIzaSyDLBDWH-mUzXwDruwKWoBdu3T7Fs34WhRI</string>
	<key>GCM_SENDER_ID</key>
	<string>159943746029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.BooksApp</string>
	<key>PROJECT_ID</key>
	<string>libraryapp-b9894</string>
	<key>STORAGE_BUCKET</key>
	<string>libraryapp-b9894.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159943746029:ios:a046f3e97a72439eb9c7e4</string>
	<key>DATABASE_URL</key>
	<string>https://libraryapp-b9894-default-rtdb.firebaseio.com</string>
</dict>
</plist>